<a href="https://colab.research.google.com/github/HarshrajSharma/DataAnalytics/blob/main/DataAnalyticsDay8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Panda Library**

In [ ]:
import pandas as pd
data={'calories':[420, 380, 390],
      'duration':[70, 50, 60]
      }
myvar=pd.DataFrame(data)
print(myvar)
print(myvar.loc[0:2])

   calories  duration
0       420        70
1       380        50
2       390        60
   calories  duration
0       420        70
1       380        50
2       390        60

      Year
Year   1.0

In [ ]:
data={'startCoordinate':[200, 380, 590],
      'endCoordinate':[300, 500, 760]
      }
myvar=pd.DataFrame(data, index=['sample1', 'sample2', 'sample3'])
print(myvar)
print('End co-ordinate of sample1:', myvar.loc["sample1", "startCoordinate"])
print('End co-ordinate of sample2:', myvar.loc["sample2", "startCoordinate"])
print('End co-ordinate of sample3:', myvar.loc["sample3", "startCoordinate"])

         startCoordinate  endCoordinate
sample1              200            300
sample2              380            500
sample3              590            760
End co-ordinate of sample1: 200
End co-ordinate of sample2: 380
End co-ordinate of sample3: 590

In [ ]:
from pandas.io.parsers.readers import read_csv
df=pd.read_csv('data.csv')
#print(df.to_string())
#print(pd.options.display.max_rows)
pd.options.display.max_rows=9999
de=pd.read_csv('data.csv')
#print(de)
df.head(10)
df.tail(10)
#print(df.info()) #Finds the data types in the csv file

In [ ]:
import pandas as pd
data={'calories':[420, 380, 390],
      'duration':[70, 50, 60]
      }
myvar=pd.DataFrame(data)
print(myvar)
print(myvar.loc[0:2])



df.corr() #Finds the co-relation between numeric rows
print(df.dupicated())  #This will give the duplicate tuples
df.drop_duplicates(inplace=True)  #This will drop the duplicates


#Question: Find the maximum value of a nimeric column and also print its tuple

z=df['calories'].max()
print(z)
for i in df.index:
  if df.loc[i, 'calories']==z:
    print(df.loc[i])

In [ ]:
#Removing NULL
df=pd.read_csv('data.csv')
d=len(df.index)
print(d)
df['calories'].fillna(130, inplace=True)  #fillna will fill the NULL places with something
df['hiredate']=pd.to_datetime(df['hiredate'])
#newdf=df.dropna()  #dropna will drop the NULL value

df.loc[7, 'calories']=45 #replacing the specific cell value

In [ ]:
#Find out in a column whether the value is greater than 120 or not. 
#If the values is greater than 120 then replace it with mean of that column

z=df['calories'].mean()

for i in df.index:
  if df.loc[i, 'calories']>120:
    df.loc[i, 'calories']=z

In [ ]:
#Plotting the csv file
import matplotlib.pyplot as plt



df.plot(kind='scatter', x='Calories', y='Duration')
df['calorie'].plot(kind='hist') #Print the histogram for a particular column